@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-bg: #40eb40;
  --button-color: white;
  --lemon-color: #1afd0562;
  color: #0a0a0a;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*::-webkit-scrollbar{
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  scroll-behavior: smooth;
  color: rgba(0, 0, 0, 0.692) !important;
    -webkit-tap-highlight-color: transparent;
    /* font-size: 14px !important; */

}

header *, footer *, #hero *, #gallery *{
  color: white !important;
}

#admin *{
  color: black !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color: white;
  }

  *{
    color: white !important;
  }

  #admin *{
  color: white !important;
}

}